body{
  background: #7F7FD5;  /* fallback for old browsers */ 
}
.App {
  }

  .Titulo{
    color:white;
    text-align: center;
    font-weight: bold;
  }

  .card{
    width:400px;
    align-content: center;
  }
